@tailwind base;
@tailwind components;
@tailwind utilities;
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hero {
  /* height: 700px; */
}

/* .gradient-bg {
  background-color:#ff99c9;
  background-image:
  radial-gradient(at 52% 61%, hsla(125,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 24% 7%, hsla(218,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 82% 100%, hsla(269,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 93% 68%, hsla(16,72%,48%,1) 0px, transparent 50%),
  radial-gradient(at 80% 4%, hsla(334,77%,78%,1) 0px, transparent 50%),
  radial-gradient(at 28% 29%, hsla(328,66%,72%,1) 0px, transparent 50%),
  radial-gradient(at 66% 77%, hsla(5,97%,61%,1) 0px, transparent 50%),
  radial-gradient(at 48% 79%, hsla(314,72%,75%,1) 0px, transparent 50%),
  radial-gradient(at 83% 87%, hsla(330,93%,62%,1) 0px, transparent 50%),
  radial-gradient(at 88% 79%, hsla(255,61%,68%,1) 0px, transparent 50%);
} */

.gradient-bg {
  background-color:#ff99c9;
background-image:
radial-gradient(at 58% 1%, hsla(110,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 73% 37%, hsla(192,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 52% 36%, hsla(193,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 67% 13%, hsla(179,91%,46%,1) 0px, transparent 50%),
radial-gradient(at 72% 55%, hsla(315,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 24% 99%, hsla(8,0%,100%,0) 0px, transparent 50%),
radial-gradient(at 55% 79%, hsla(229,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 0% 57%, hsla(231,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 100% 38%, hsla(321,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 52% 61%, hsla(125,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 24% 7%, hsla(218,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 82% 100%, hsla(269,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 93% 68%, hsla(16,72%,48%,1) 0px, transparent 50%),
radial-gradient(at 80% 4%, hsla(334,77%,78%,1) 0px, transparent 50%),
radial-gradient(at 73% 28%, hsla(328,66%,72%,1) 0px, transparent 50%),
radial-gradient(at 66% 77%, hsla(5,97%,61%,1) 0px, transparent 50%),
radial-gradient(at 48% 79%, hsla(314,72%,75%,1) 0px, transparent 50%),
radial-gradient(at 83% 87%, hsla(330,93%,62%,1) 0px, transparent 50%),
radial-gradient(at 88% 79%, hsla(255,61%,68%,1) 0px, transparent 50%);
}

/* .gradient-bg {
  background-color:#ff99c9;
  background-image:
  radial-gradient(at 72% 55%, hsla(179,100%,81%,1) 0px, transparent 50%),
  radial-gradient(at 24% 99%, hsla(8,0%,100%,0) 0px, transparent 50%),
  radial-gradient(at 55% 79%, hsla(229,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 0% 57%, hsla(231,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 100% 38%, hsla(321,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 52% 61%, hsla(125,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 24% 7%, hsla(218,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 82% 100%, hsla(269,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 93% 68%, hsla(16,72%,48%,1) 0px, transparent 50%),
  radial-gradient(at 80% 4%, hsla(334,77%,78%,1) 0px, transparent 50%),
  radial-gradient(at 73% 28%, hsla(328,66%,72%,1) 0px, transparent 50%),
  radial-gradient(at 66% 77%, hsla(5,97%,61%,1) 0px, transparent 50%),
  radial-gradient(at 48% 79%, hsla(314,72%,75%,1) 0px, transparent 50%),
  radial-gradient(at 83% 87%, hsla(330,93%,62%,1) 0px, transparent 50%),
  radial-gradient(at 88% 79%, hsla(255,61%,68%,1) 0px, transparent 50%);
} */

/* 
.gradient-bg {
 background-color:#99ceff;
background-image:
radial-gradient(at 56% 55%, hsla(2,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 43% 39%, hsla(6,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 78% 88%, hsla(337,71%,76%,1) 0px, transparent 50%),
radial-gradient(at 11% 48%, hsla(321,78%,78%,1) 0px, transparent 50%),
radial-gradient(at 73% 67%, hsla(32,97%,63%,1) 0px, transparent 50%),
radial-gradient(at 16% 96%, hsla(293,100%,99%,0.65) 0px, transparent 50%),
radial-gradient(at 91% 5%, hsla(171,100%,96%,1) 0px, transparent 50%),
radial-gradient(at 26% 5%, hsla(140,65%,91%,0.26) 0px, transparent 50%),
radial-gradient(at 88% 78%, hsla(220,45%,62%,1) 0px, transparent 50%);
}
 */
